@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;
  font-family: "Roboto";
  width: 100%;
  text-transform: uppercase;
  height: 100vh;
}
nav {
  height: 10%;
  width: 100%;
}
.nav-cont {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  color: #fff;
}
.logo {
  width: 16rem;
  cursor: pointer;
}
.links {
  display: flex;
  align-items: center;
  gap: 3rem;
}
h3 {
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.buttons h3:nth-child(2) {
  background-color: #fff;
  padding: 15px 20px;
  color: #000;
  word-spacing: 4px;
  font-size: 15px;
  font-weight: 700;
}

main {
  width: 85%;
  margin: auto;
  height: 90%;
  border: 1px solid transparent;
}
.h1 {
  margin-top: 4rem;
}
.h1 h1:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
span{
    background-color: brown;
    border-radius: 80px;
    font-size: 45px;
    padding: 10px 20px;
    cursor: pointer;
}
.h1 > h1 {
  font-size: 7rem;
  text-align: center;
}
.img1 {
  height: 10rem;
  width: 14rem;
  position: absolute;
  top: 12%;
  opacity: 0.7;
  right: 20%;
  z-index: -1;
  object-fit: cover;
  border-radius: 10px;
}
.img2{
    width: 12rem;
    height: 12rem;
    opacity: 0.85;
    z-index: -1;
    position: absolute; 
    top: 25%;
    left: 12%;
}
.img3{
    width: 10rem;
  height: 8rem;
  opacity: 0.7;
  z-index: -1;
  position: absolute;
  bottom: 22%;
  left: 26%;
  object-fit: cover;
}
.img4 {
  width: 10rem;
  height: 15rem;
  opacity: 0.9;
  z-index: -1;
  position: absolute;
  bottom: 12%;
  right: 10%;
}
.watch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.icon {
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #fff;
  display: inline-block;
  color: #000;
  cursor: pointer;
}
.anno {
  font-size: 22px;
  font-weight: 400;
}
.scroll{
    text-align: center;
margin-top: 50px;
font-weight: 400;
font-size: 18px;
word-spacing: 5px;
}


.fa-brands{
    font-size: 25px;
    margin-right: 15px;
}